<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsh.kr.alltestex">

    <!-- custom permission -->
    <!-- AIDL test 용 서비스에 권한이 정의되어 있어 추가 필요 -->
    <permission
        android:name="com.kr.alltest.service.AIDL_TEST"
        android:label="@string/app_name"
        android:protectionLevel="signature" >
    </permission>

    <uses-permission android:name="com.kr.alltest.service.AIDL_TEST" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllTest_And">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AIDLTestActivity" />
    </application>

</manifest>